/* Custom Global CSS */

/* OPACITY */
.opacity-0 {
  opacity: 0; }

.opacity-10 {
  opacity: 0.1; }

.opacity-20 {
  opacity: 0.2; }

.opacity-30 {
  opacity: 0.3; }

.opacity-40 {
  opacity: 0.4; }

.opacity-50 {
  opacity: 0.5; }

.opacity-60 {
  opacity: 0.6; }

.opacity-70 {
  opacity: 0.7; }

.opacity-80 {
  opacity: 0.8; }

.opacity-90 {
  opacity: 0.9; }

.opacity-100 {
  opacity: 1; }

/* Animation Delays */
.delay-100ms{
  animation-delay: 100ms;
}
.delay-200ms{
  animation-delay: 200ms;
}
.delay-300ms{
  animation-delay: 300ms;
}
.delay-400ms{
  animation-delay: 400ms;
}
.delay-500ms{
  animation-delay: 500ms;
}
.delay-600ms{
  animation-delay: 600ms;
}
.delay-700ms{
  animation-delay: 700ms;
}
.delay-800ms{
  animation-delay: 800ms;
}

// Z index
.z-20{
  z-index: 20;
}
.z-25{
  z-index: 20;
}

// Line Height
.lh-02{
    line-height: 0.2;
}
.lh-04{
    line-height: 0.4;
}
.lh-06{
    line-height: 0.6;
}
.lh-08{
    line-height: 0.8;
}

//Error message classes
.error {
  color: #4e0000;
}
.success{
  color: #2e8000;
}