{% load static custom_tags i18n %}
<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

    <div style="background-color: #2f2f2f;">
        <div class="container">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
                <!-- Grid column -->
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0">{% trans 'Get connected with us on social networks!' %}</h6>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                {% footer_content 'social' as social %}
                <div class="col-md-6 col-lg-7 text-center text-md-right">
                    <!-- Facebook -->
                    {% if social.facebook %}
                        <a class="fb-ic" href="{{ social.facebook }}" target="_blank">
                            <i class="fab fa-facebook-f white-text mr-4"> </i>
                        </a>
                    {% endif %}
                    {% if social.instagram %}
                        <!--Instagram-->
                        <a class="ins-ic" href="{{ social.instagram }}" target="_blank">
                            <i class="fab fa-instagram white-text"> </i>
                        </a>
                    {% endif %}
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row-->
        </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

        <!-- Grid row -->
        <div class="row mt-3">

            <!-- Grid column -->
            <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                <!-- Content -->
                <h6 class="text-uppercase font-weight-bold">{% trans 'Our Mission' %}</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    {% trans 'Serve only the highest quality product, prepare it in a clean and sparkling environment, and serve it in a warm and friendly manner.' %}
                </p>
            </div>
            <!-- Grid column -->
            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">{% trans 'Quick Links' %}</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="{% url 'home' %}">{% trans 'Home' %}</a>
                </p>
                <p>
                    <a href="{% url 'menu' %}">{% trans 'Menu' %}</a>
                </p>
                <p>
                    <a href="{% url 'about' %}">{% trans 'About' %}</a>
                </p>
                <p>
                    <a href="{% url 'contact' %}">{% trans 'Contact' %}</a>
                </p>
            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">{% trans 'Open Hours' %}</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                {% footer_content "open_hours" as open_hours %}
                {% for hrs in open_hours %}
                    <h6>
                        <span class="font-weight-bold">{{ hrs.get_weekday_from_display }} - {{ hrs.get_weekday_to_display }}:</span>
                        <span>{{hrs.open_hr_from}} - {{ hrs.open_hr_to }}</span>
                    </h6>
                {% endfor %}

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">{% trans 'Contact' %}</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <!-- Address -->
                <!-- Importing address object using custom django tag -->
                {% footer_content "address" as address %}
                <p>
                    <a href="{{address.address_map_link}}" target="_blank">
                        <i class="fas fa-map-marked-alt mr-3"></i>

                        {{address.street}}, {{address.city}} {{address.postal}},
                        <br>
                        <span style="margin-left: 35px">
                            {{address.state}}, {{address.country}}
                        </span>
                    </a>
                </p>
                <!-- Importing contact object using custom django tag -->
                {% footer_content "contact" as contact %}
                <p>
                    <i class="fas fa-envelope mr-3"></i> {{contact.email}}
                </p>
                <p>
                    <i class="fas fa-phone mr-3"></i> {{contact.phone}}
                </p>
            </div>
            <!-- Grid column -->
        </div>
        <!-- Grid row -->
        <div class="row justify-content-center p-2 mb-5">
            <div class="col-lg-3 col-md-4 col-sm-7 col-8">
                <a href="{{ social.tripadvisor }}" target="_blank">
                    <img class="img-fluid" alt="TripAdvisor Logo" src="{% static 'mySite/local_imgs/footer/tripAdvisor.png' %}">
                </a>
            </div>
        </div>
    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="{% url 'home' %}"> {{address.company_name}}</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

