//Colors Vars
$navColor: #242324;
$header-color: white;
$gold: #fcda9a;
$tan: #b48c80;
$tan-dark: #8f7066;
//Fonts
$primary-font: 'Montserrat', sans-serif;
$secondary-font: 'Suranna', serif;
$cursive-font: 'Montez', cursive;

// Size
$sec-lg-img: 600px;